services:
  chappy-discord-bot:
    image: ghcr.io/hayabusa58/chappy-discord-bot:main
    restart: always
    environment:
      # If you want use Gemini API, enable it
      # OPENAI_BASEURL: $OPENAI_BASEURL
      OPENAI_MODEL: $OPENAI_MODEL
      OPENAI_TOKEN: $OPENAI_TOKEN
      DISCORD_BOT_TOKEN: $DISCORD_BOT_TOKEN
      DISCORD_CHANNEL_ID: $DISCORD_CHANNEL_ID
